<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="css/iconfont.css">
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/index.css">

    <script src="./plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="./plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./plugins/angularjs/angular.min.js"></script>

    <!-- 分页组件开始 -->
<!--    <script src="./plugins/angularjs/pagination.js"></script>-->
<!--    <link rel="stylesheet" href="plugins/angularjs/pagination1.css">-->
    <!-- 分页组件结束 -->

    <script type="text/javascript" src="./js/base_pagination.js"></script>
    <script type="text/javascript" src="./js/service/itemCatService.js"></script>
    <script type="text/javascript" src="./js/service/uploadService.js"></script>
    <script type="text/javascript" src="./js/service/typeTemplateService.js"></script>
    <script type="text/javascript" src="./js/service/articleService.js"></script>

    <script type="text/javascript" src="./js/controller/baseController.js"></script>
    <script type="text/javascript" src="./js/controller/articleController.js"></script>

</head>
<body ng-app="jxs" ng-controller="articleController" ng-init="findHomeArt()">

<header>
    <div class="section">
        <div class="head-logo">
            <div class="bg">
                <img src="images/logo.png" alt="">
            </div>
        </div>
        <ul class="login">
            <li class="log-item">
                <ul>
                    <li>讲思想&nbsp;&nbsp;&nbsp;千有方向</li>
                    <li>讲技术&nbsp;&nbsp;&nbsp;千有本领</li>
                </ul>
            </li>
            <li class="log-item">
                <ul>
                    <li>讲感恩&nbsp;&nbsp;&nbsp;千有激情</li>
                    <li>讲比武&nbsp;&nbsp;&nbsp;千有榜样</li>
                </ul>
            </li>
            <li class="log-item">
                <ul>
                    <li>讲政策&nbsp;&nbsp;&nbsp;千有思路</li>
                    <li>讲道德&nbsp;&nbsp;&nbsp;千有精神</li>
                </ul>
            </li>
            <li class="search gy-flex">
                <div class="gy-denglu">
                    <input type="text" placeholder="请输入关键字">
                    <i class="iconfont icon-iconfontzhizuobiaozhun22"></i>
                </div>
                <a href="##" class="dengl">登录</a>
                <div class="user-name" style="display: none">
                    <p class="gy-sm-tit text-ell">糖糖趟唐唐唐糖</p>
                    <p class="gy-sm-tit">欢迎学习！</p>
                </div>
            </li>
        </ul>
    </div>
</header>

<!--头条-->
<div class="section">
    <div class="toutiao">
        <h1 class="gy-big-tit">习近平：奋力开创中部地区崛起新局面</h1>
        <div class="gy-flex toutiao-txt">
            <!--            <p class="gy-flex text-ell">-->
            <!--                <a href="##">习近平在江西考察并主持召开推动中部地区崛起工作座谈会</a>&nbsp;&nbsp;|&nbsp;&nbsp;-->
            <!--                <a href="##">提出8点意见</a>&nbsp;&nbsp;|&nbsp;&nbsp;-->
            <!--                <a href="##">总书记为何这个时候来到干部</a>&nbsp;&nbsp;-->
            <!--            </p>-->
            <!--            <a href="##" class="more">更多头条</a>-->
        </div>
        <div class="toutiao-img">
            <img src="images/tou01.jpg" alt="">
            <p class="img-title">习近平：奋力开创中部地区崛起新局面</p>
        </div>
        <div class="gy-flex notice">
            <i class="iconfont icon-gonggao"></i>
            <marquee align="middle" onMouseOut="this.start()" onMouseOver="this.stop()" behavior="scroll">
                <ul class="notice-list gy-flex">
                    <li ng-repeat="entity in art2">
                        <a href="detail.html#?id={{entity.id}}" target="_blank" class="gy-flex">
                            <span class="span-dian"></span>{{entity.title}}<span
                                class="time">{{entity.editTime | date:'yyyy-MM-dd'}}</span></a></li>
                </ul>
            </marquee>
            <!--            <a href="notice.html"><i class="iconfont icon-shuangyoujiantou-"></i></a>-->
            <a href="notice.html#?cid=2" class="more" ><i class="icon icon-jt"></i></a>

        </div>
    </div>
</div>
<hr>
<!--政治解读-->
<div class="political">
    <div class="section">
        <div class="political-sec  gy-flex">

            <ul class="political-list">
                <li><h1 class="gy-tit gy-flex">要闻 <a href="notice.html#?cid=1" target="_blank" class="more">进入</a></h1></li>
                <li class="political-item" ng-repeat="entity in art1">
                    <a href="detail.html#?id={{entity.id}}" target="_blank">
                        <h1 class="gy-sm-tit gy-flex">
                            <span class="span-dian"></span>{{entity.title}}
                        </h1>
                        <p class="text-2-hidden gy-text">{{entity.summary}}
                            <span class="xiang gy-text">[详情]</span>
                        </p>
                    </a>
                </li>

            </ul>

            <ul class="political-list">
                <li><h1 class="gy-tit gy-flex">政策 <a href="notice.html#?cid=3" target="_blank" class="more">进入</a></h1></li>
                <li class="political-item" ng-repeat="entity in art3">
                    <a href="detail.html#?id={{entity.id}}" target="_blank">
                        <h1 class="gy-sm-tit gy-flex"><span class="span-dian"></span>{{entity.title}}</h1>
                        <p class="text-2-hidden gy-text">{{entity.summary}}
                            <span class="xiang gy-text">[详情]</span>
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>


<!--政治解读-->
<div class="political">
    <div class="section">
        <div class="political-sec  gy-flex">

            <ul class="political-list">
                <li><h1 class="gy-tit gy-flex">学习 <a href="notice.html#?cid=4" target="_blank" class="more">进入</a></h1></li>
                <li class="political-item" ng-repeat="entity in art4">
                    <a href="detail.html#?id={{entity.id}}" target="_blank">
                        <h1 class="gy-sm-tit gy-flex">
                            <span class="span-dian"></span>{{entity.title}}
                        </h1>
                        <p class="text-2-hidden gy-text">{{entity.summary}}
                            <span class="xiang gy-text">[详情]</span>
                        </p>
                    </a>
                </li>

            </ul>

            <ul class="political-list">
                <li><h1 class="gy-tit gy-flex">课堂 <a href="notice.html#?cid=5" target="_blank" class="more">进入</a></h1></li>
                <li class="political-item" ng-repeat="entity in art5">
                    <a href="detail.html#?id={{entity.id}}" target="_blank">
                        <h1 class="gy-sm-tit gy-flex"><span class="span-dian"></span>{{entity.title}}</h1>
                        <p class="text-2-hidden gy-text">{{entity.summary}}
                            <span class="xiang gy-text">[详情]</span>
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--在线课堂-->
<!--
<div class="section">
    <h1 class="gy-big-tit line-class">在线课堂 <a href="##" class="more">进入</a></h1>

    <div class="swiper-container pc-banner">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><a href="##">
                <img src="images/banner001.jpg" alt="">
                <i class="icon icon-bf"></i>
            </a>
            </div>
            <div class="swiper-slide">
                <a href="##">
                    <img src="images/banner002.jpg" alt="">
                    <i class="icon icon-bf"></i>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="##">
                    <img src="images/banner003.jpg" alt="">
                    <i class="icon icon-bf"></i>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="##">
                    <img src="images/banner004.jpg" alt="">
                    <i class="icon icon-bf"></i>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="##">
                    <img src="images/banner005.jpg" alt="">
                    <i class="icon icon-bf"></i>
                </a>
            </div>
        </div>
    </div>

    &lt;!&ndash;学习交流&ndash;&gt;
    <div class="study-change">
        <h1 class="gy-tit gy-flex">学习交流  <a href="##"><i class="iconfont icon-shuangyoujiantou-"></i></a></h1>
        <ul class="gy-flex study-list">
            <li>
                <a href="##">
                    <div class="stu-img">
                        <img src="images/study01.jpg" alt="">
                    </div>
                    <div class="stu-cont">
                        <p class="gy-sm-tit text-ell">云上轨道，奏响出行，云上轨道，奏响出行</p>
                        <p class="gy-text tong">通展会、作品、华为</p>
                        <p class="gy-text jy">教育<span class="time">2019-05-22</span></p>
                    </div>
                    <div class="hover-span"></div>
                </a>
            </li>
            <li>
                <a href="##">
                    <div class="stu-img">
                        <img src="images/study01.jpg" alt="">
                    </div>
                    <div class="stu-cont">
                        <p class="gy-sm-tit text-ell">云上轨道，奏响出行，云上轨道，奏响出行</p>
                        <p class="gy-text tong">通展会、作品、华为</p>
                        <p class="gy-text jy wh">文化<span class="time">2019-05-22</span></p>
                    </div>
                    <div class="hover-span"></div>
                </a>
            </li>
            <li>
                <a href="##">
                    <div class="stu-img">
                        <img src="images/study01.jpg" alt="">
                    </div>
                    <div class="stu-cont">
                        <p class="gy-sm-tit text-ell">云上轨道，奏响出行，云上轨道，奏响出行</p>
                        <p class="gy-text tong">通展会、作品、华为</p>
                        <p class="gy-text jy nj">农机<span class="time">2019-05-22</span></p>
                    </div>
                    <div class="hover-span"></div>
                </a>
            </li>
            <li>
                <a href="##">
                    <div class="stu-img">
                        <img src="images/study01.jpg" alt="">
                    </div>
                    <div class="stu-cont">
                        <p class="gy-sm-tit text-ell">云上轨道，奏响出行，云上轨道，奏响出行</p>
                        <p class="gy-text tong">通展会、作品、华为</p>
                        <p class="gy-text jy kj">科技<span class="time">2019-05-22</span></p>
                    </div>
                    <div class="hover-span"></div>
                </a>
            </li>
            <li>
                <a href="##">
                    <div class="stu-img">
                        <img src="images/study01.jpg" alt="">
                    </div>
                    <div class="stu-cont">
                        <p class="gy-sm-tit text-ell">云上轨道，奏响出行，云上轨道，奏响出行</p>
                        <p class="gy-text tong">通展会、作品、华为</p>
                        <p class="gy-text jy jk">教育<span class="time">2019-05-22</span></p>
                    </div>
                    <div class="hover-span"></div>
                </a>
            </li>
        </ul>
    </div>

&lt;!&ndash;    活动中心&ndash;&gt;
   &lt;!&ndash; <div class="active-center">
        <h1 class="gy-tit gy-flex">活动中心  <a href="##" class="more">进入</a></h1>
        <ul class="active-list gy-flex">
            <li class="active-item">
                <a href="##">
                    <h1 class="gy-sm-tit gy-flex"><span class="span-dian"></span>习近平向印尼当选总统佐科致贺电</h1>
                    <div class="act-cont gy-flex">
                        <div class="act-img">
                            <img src="images/act01.jpg" alt="">
                        </div>
                        <div class="act-flex">
                            <p class="text-2-hidden gy-text">
                                新华社北京5月21日电，
                                国家主席习近平向印尼总统佐科·维多多致贺电，代表中国政府和中国人民，
                                并个人的中国人民，并个人的
                                <span class="xiang gy-text">[详情]</span>
                            </p>
                            <p class="time">2019-05-22</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="active-item">
                <a href="##">
                    <h1 class="gy-sm-tit gy-flex"><span class="span-dian"></span>习近平向印尼当选总统佐科致贺电</h1>
                    <div class="act-cont">
                        <p class="text-2-hidden gy-text">
                            新华社北京5月21日电，
                            国家主席习近平向印尼总统佐科·维多多致贺电，代表中国政府和中国人民，
                            并个人的中国人民，并个人的
                            <span class="xiang gy-text">[详情]</span>
                        </p>
                        <p class="time">2019-05-22</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
&ndash;&gt;
&lt;!&ndash;    知识园地&ndash;&gt;

   &lt;!&ndash; <div class="konw-field gy-flex">
&lt;!&ndash;        <div class="banner">&ndash;&gt;
            <div class="swiper-container banner">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="##">
                            <img src="images/banner01.jpg" alt="">
                            <div class="stu-change">
                                <h1 class="gy">公益帮扶</h1>
                                <span class="liaojie">了解更多<i class="iconfont icon-sanjiaoright"></i></span>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="##">
                            <img src="images/banner01.jpg" alt="">
                            <div class="stu-change">
                                <h1 class="gy">寓教于乐</h1>
                                <span class="liaojie">了解更多<i class="iconfont icon-sanjiaoright"></i></span>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="##">
                            <img src="images/banner01.jpg" alt="">
                            <div class="stu-change">
                                <h1 class="gy">乡风文化</h1>
                                <span class="liaojie">了解更多<i class="iconfont icon-sanjiaoright"></i></span>
                            </div>
                        </a>
                    </div>
                </div>
                &lt;!&ndash; 如果需要分页器 &ndash;&gt;
                <div class="swiper-pagination"></div>
            </div>

            <div class="konw-cont">

            </div>
&lt;!&ndash;        </div>&ndash;&gt;
        <div class="konw-right">
            <h1 class="gy-tit">知识园地</h1>
            <ul class="konw-list">
                <li>
                    <a href="##" class="gy-flex">
                        <span class="icon-box"><i class="iconfont icon-keji01 kj"></i></span>
                        <p class="gy-sm-tit red-tit">科技世界 <span class="gy-sm-text">带你走进科技前沿</span></p>
                    </a>
                </li>
                <li>
                    <a href="##" class="gy-flex">
                        <span class="icon-box"><i class="iconfont icon-wenjian nj"></i></span>
                        <p class="gy-sm-tit red-tit">农技知识 <span class="gy-sm-text">带你走进科技前沿</span></p>
                    </a>
                </li>
                <li>
                    <a href="##" class="gy-flex">
                        <span class="icon-box"><i class="iconfont icon-navicon-jkpg jk"></i></span>
                        <p class="gy-sm-tit red-tit">健康养生 <span class="gy-sm-text">带你走进科技前沿</span></p>
                    </a>
                </li>
                <li>
                    <a href="##" class="gy-flex">
                        <span class="icon-box"><i class="iconfont icon-falv wh"></i></span>
                        <p class="gy-sm-tit red-tit">法律常识 <span class="gy-sm-text">带你走进科技前沿</span></p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    &ndash;&gt;

</div>

-->

<footer>
    <div class="fo-top">
        <div class="section pad-left bianm" style="color: #0f0f0f">便民服务：</div>
        <div class="section gy-flex pad-left fo-sec">
            <ul class="foot-list">
                <li><img src="images/logo2.png" alt=""></li>
                <li class="banquan"><p>版权所有：</p>
                    <sapn>宁夏固原市宣传部</sapn>
                </li>
                <li><p>联系电话：</p><span>(0954)2088900</span></li>
                <li><p>电子邮箱：</p><span>gydzzw@126.com</span></li>
                <li><p>网站标识码：</p><span>6404000021|Copyright@ all rights reserved 宁 ICP 备 05001237号</span></li>
            </ul>
            <div class="right-line"></div>
            <ul class="foot-right">
                <li>网站导航</li>
                <li><a href="##">固原市人民政府官网</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="##">固原党建网</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                        href="##">固原市人民信息网</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="##">固原市人民信息网</a></li>
                <li><a href="##">固原市人民政府官网</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="##">固原市人民信息网</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                        href="##">固原市人民信息网</a></li>
                <li><a href="##">固原市人民政府官网</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="##">固原党建网</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                        href="##">固原市人民信息网</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="##">固原市人民信息网</a></li>
                <li><a href="##">固原市人民政府官网</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="##">固原党建网</a>
                <li>
                    <img class="zf" src="images/zf.jpg" alt="">
                    <img class="jg" src="images/jg.jpg" alt="">
                </li>
            </ul>
        </div>
    </div>
</footer>


<!-- 登录 -->
<div class="xxjl_model">
    <div class="xxjl_model-body">
        <i class="icon icon-gb"></i>
        <h1 class="dl">登录</h1>
        <form class="dl-form" action="/login" method="post" id="loginform">
            <p class="dl-input">
                <i class="iconfont icon-dianhua"></i>
                <input class="tel" name="username" type="text" placeholder="手机号码">
            </p>
            <p class="dl-input">
                <i class="iconfont icon-mima"></i>
                <input class="tel" name="password" type="password" placeholder="密码">
            </p>
            <p class="dl-input jz-input"><input type="checkbox" name="rem-pw" checked>记住密码</p>
            <p class="dl-sub" ><input type="submit" ng-click="submitClick(username,password)" class="dl-input"  placeholder="登录"/></p>

        </form>
    </div>
</div>

</body>
</html>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/swiper.min.js"></script>
<script src="js/personal.js"></script>
<script>
    $(function () {
        pcBanner();
        banner();
    })

    // 登录
    $(function () {
        $(".dengl").click(function () {
            $(".xxjl_model").show();
        })
        $(".icon-gb").click(function () {
            $(".xxjl_model").hide();
        })
    })
    /* 打开个人中心 */
    $(function () {
        $(".user-name").click(function () {
            window.open("personal.html");
        })
    })
</script>







































