<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公告</title>
    <link rel="stylesheet" href="css/iconfont.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/notice.css">
    <script src="./plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="./plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./plugins/angularjs/angular.min.js"></script>

    <!-- 分页组件开始 -->
    <script src="./plugins/angularjs/pagination.js"></script>
    <link rel="stylesheet" href="plugins/angularjs/pagination1.css">
    <!-- 分页组件结束 -->

    <script type="text/javascript" src="./js/base_pagination.js"></script>

    <script type="text/javascript" src="./js/service/itemCatService.js"></script>
    <script type="text/javascript" src="./js/service/uploadService.js"></script>
    <script type="text/javascript" src="./js/service/typeTemplateService.js"></script>
    <script type="text/javascript" src="./js/service/articleService.js"></script>

    <script type="text/javascript" src="./js/controller/baseController.js"></script>
    <script type="text/javascript" src="./js/controller/articleController.js"></script>

</head>
<body ng-app="jxs" ng-controller="articleController" ng-init="changes()">
<div class="section">
    <header class="gongao">
        <div class="logo"><img src="images/logo2.png" alt=""></div>
        <nav class="gy-flex nav">
            <a class="gy-sm-tit" href="index1.html" target="_blank">首页</a>
            <p class="gy-sm-tit {{$scope.cids==1?'active':''}}"  ng-click="changes(1)">要闻</p>
            <p class="gy-sm-tit {{$scope.cids==2?'active':''}}"  ng-click="changes(2)">公告</p>
            <p class="gy-sm-tit {{$scope.cids==3?'active':''}}"  ng-click="changes(3)">政策</p>
            <p class="gy-sm-tit {{$scope.cids==4?'active':''}}"  ng-click="changes(4)">学习</p>
            <a class="gy-sm-tit" href="classRoom.html">课堂</a>
        </nav>
        <div class="search gy-flex">
            <div class="gy-denglu">
                <input type="text" placeholder="请输入关键字">
                <i class="iconfont icon-iconfontzhizuobiaozhun22"></i>
            </div>
            <div class="user-name">
                <p class="gy-sm-tit text-ell">糖糖趟唐唐唐糖</p>
                <p class="gy-sm-tit">欢迎学习！</p>
            </div>
        </div>
    </header>

    <div class="swiper-container swiper-container2">
        <div class="swiper-wrapper">
            <div class="swiper-slide banner-cont" >
                <a href="detail.html#?id={{art[0].id}}" target="_blank">
                    <h1 class="gy-sm-tit gy-flex">
                        <span class="span-line"></span>{{art[0].title}}</h1>
                    <p class="text-2-hidden gy-text">{{art[0].summary}}
                    </p>
                    <p class="time">{{art[0].editTime | date:'yyyy-MM-dd'}}</p>
                </a>
            </div>
            <div class="swiper-slide banner-cont" >
                <a href="detail.html#?id={{art[1].id}}" target="_blank">
                    <h1 class="gy-sm-tit gy-flex">
                        <span class="span-line"></span>{{art[1].title}}</h1>
                    <p class="text-2-hidden gy-text">{{art[1].summary}}
                    </p>
                    <p class="time">{{art[1].editTime | date:'yyyy-MM-dd'}}</p>
                </a>
            </div>
            <div class="swiper-slide banner-cont" >
                <a href="detail.html#?id={{art[2].id}}" target="_blank">
                    <h1 class="gy-sm-tit gy-flex">
                        <span class="span-line"></span>{{art[2].title}}</h1>
                    <p class="text-2-hidden gy-text">{{art[2].summary}}
                    </p>
                    <p class="time">{{art[2].editTime | date:'yyyy-MM-dd'}}</p>
                </a>
            </div>

        </div>

        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>
    </div>

    <!--公告列表-->
    <ul class="notice-list" ng-repeat="entity in art">
        <li class="notice-item">
            <a href="detail.html#?id={{entity.id}}" target="_blank">
                <div class="gy-sm-tit gy-flex">
                    <span class="span-dian"></span>
                    <p class="text-ell">{{entity.title}}</p>
                    <span class="time">{{entity.editTime | date:'yyyy-MM-dd'}}</span>
                </div>

            </a>
        </li>
    </ul>

    <tm-pagination conf="paginationConf"></tm-pagination>

</div>


<footer>
    <div class="fo-top">
        <div class="section pad-left bianm">.</div>

        <div class="section gy-flex pad-left fo-sec">
            <ul class="foot-list">
                <li><img src="images/logo2.png" alt=""></li>
                <li class="banquan"><p>版权所有：</p>
                    <sapn>宁夏固原市宣传部</sapn>
                </li>
                <li><p>联系电话：</p><span>(0954)2088900</span></li>
                <li><p>电子邮箱：</p><span>gydzzw@126.com</span></li>
                <li><p>网站标识码：</p><span>6404000021|Copyright@ all rights reserved 宁 ICP 备 05001237号</span></li>
            </ul>
            <div class="right-line"></div>
            <ul class="foot-right">
                <li>网站导航</li>
                <li><a href="##">固原市人民政府官网</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="##">固原党建网</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                        href="##">固原市人民信息网</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="##">固原市人民信息网</a></li>
                <li><a href="##">固原市人民政府官网</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="##">固原市人民信息网</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                        href="##">固原市人民信息网</a></li>
                <li><a href="##">固原市人民政府官网</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="##">固原党建网</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                        href="##">固原市人民信息网</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="##">固原市人民信息网</a></li>
                <li><a href="##">固原市人民政府官网</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="##">固原党建网</a>
                <li>
                    <img class="zf" src="images/zf.jpg" alt="">
                    <img class="jg" src="images/jg.jpg" alt="">
                </li>
            </ul>
        </div>
    </div>
</footer>

</body>
</html>
<script src="js/jquery.min.js"></script>
<script src="js/swiper.min.js"></script>
<script src=js/personal.js></script>
<script>
    $(function () {
        swiper2();
    })

    $(function () {
        $(".user-name").click(function () {
            window.open("personal.html");
        })
    })
</script>





































