<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sang.mapper.AttnameMapper">
    <select id="getAllAtt" resultType="org.sang.bean.Attname">
        SELECT * FROM attname
    </select>
    <delete id="deleteAttnameByIds">
        DELETE FROM attname WHERE id IN
        <foreach collection="ids" separator="," open="(" close=")" item="id">
            #{id}
        </foreach>
    </delete>
    <update id="updateAttById" parameterType="org.sang.bean.Attname">
        UPDATE attname SET name=#{name} WHERE id=#{id}
    </update>
    <insert id="addAtt" parameterType="org.sang.bean.Attname">
        INSERT INTO attname SET name=#{name}
    </insert>
</mapper>