<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sang.mapper.PointoptionMapper">
    <select id="getAllPointoption" resultType="org.sang.bean.Pointoption">
        SELECT * FROM pointoption
    </select>
    <delete id="deletePointoptionByIds">
        DELETE FROM pointoption WHERE id IN
        <foreach collection="ids" separator="," open="(" close=")" item="id">
            #{id}
        </foreach>
    </delete>
    <update id="updatePointoption" parameterType="org.sang.bean.Pointoption">
        UPDATE pointoption SET name=#{pointoption.name},point=#{pointoption.point} WHERE id=#{pointoption.id}
    </update>
    <insert id="addPointoption" parameterType="org.sang.bean.Pointoption">
        INSERT INTO pointoption SET name=#{name},point=#{point}
    </insert>
</mapper>