<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sang.mapper.SystemnameMapper">
    <select id="getAllSysName" resultType="org.sang.bean.SystemName">
        SELECT * FROM systemname
    </select>

    <update id="updateSysNameById">
        UPDATE systemname
        SET title=#{title},leftname=#{leftname}
        WHERE id=1
    </update>

    <update id="updateSysName">
        UPDATE systemname
        <set>
            <if test="emp.title != null">
                title = #{emp.title,jdbcType=VARCHAR},
            </if>
            <if test="emp.leftname != null">
                leftname = #{emp.leftname,jdbcType=VARCHAR},
            </if>

            <if test="emp.rightname != null">
                rightname = #{emp.rightname,jdbcType=VARCHAR},
            </if>
            <if test="emp.path != null">
                path = #{emp.path,jdbcType=VARCHAR},
            </if>
            <if test="emp.image != null">
                image = #{emp.image,jdbcType=VARCHAR},
            </if>
            <if test="emp.des != null">
                des = #{emp.des,jdbcType=VARCHAR},
            </if>
            <if test="emp.updatetime != null">
                updatetime = #{emp.updatetime,jdbcType=DATE},
            </if>
            <if test="emp.copyrighted != null">
                copyrighted = #{emp.copyrighted,jdbcType=VARCHAR},
            </if>
            <if test="emp.phone != null">
                phone = #{emp.phone,jdbcType=VARCHAR},
            </if>
            <if test="emp.email != null">
                email = #{emp.email,jdbcType=VARCHAR},
            </if>
            <if test="emp.identificationcode != null">
                identificationcode = #{emp.identificationcode,jdbcType=VARCHAR},
            </if>

        </set>
        where id = 1
    </update>

</mapper>